.DS_Store
.idea
node_modules
npm-debug.log
test-e2e/screenshots
test-e2e/current-screenshots
e2ereports
selenium-debug.log
/redis-stable
dump.rdb
storage/test/*
temp.*
*.pyc
*__pycache__*
plugins/*/*/inputs
plugins/*/*/outputs
storage/
build/
screenshots/
report.xml
eslint.xml
VERSION
build-manifest.txt
coverage
docs/jsdoc/genetic-constructor
storage-app.md5
