@import './variables.css';

.inline-editor {
  position: absolute;
  outline: none;
  border-width: 0;
  z-index: var(--zModal);
}
/*styles for specific inline editing contexts*/
.inline-editor-project {
  text-indent: 9px;
  font-size: 16px;
}
.inline-editor-construct-title {
  font-size: 20px;
  text-indent: 4px;
  padding-right: 4px;
  font-family: Helvetica;
}
.inline-editor-block {
  font-size: 12px;
  text-indent: 9px;
  padding-right: 7px;
  font-family: Helvetica;
}

/*hover glyph for inline editing hint*/
.inline-editor-hover {
  position: absolute;
  background-color: gray;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  img {
    margin-left: 12px;
    margin-right: 12px;
  }
  span {
    white-space: nowrap;
  }
}

.inline-editor-hover-title {
  left: 0;
  text-indent: 4px;
  top: 5px;
  font-size: 20px;
  padding: 1px 0 1px 0px;
  font-family: Helvetica;
}
.inline-editor-hover-project {
  left: 10px;
  top: 6px;
  font-size: 16px;
  text-indent: 10px;
  padding: 4px 0 4px 0;
}


