@import './variables.css';

.InventoryTabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--colors-slightlyDarkGrey);
  display: inline-block;
  flex-shrink: 0;

  &-tab {
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 0 0.75em 0 0.5em;
    border-bottom: 2px solid transparent;
    transition-duration: var(--timing-fast);
    transition-property: color, border;
    color: var(--colors-white);
    font-size: var(--font-size-text);

    &:hover {
      color: var(--colors-selected);
      cursor: pointer;
    }

    &.active {
      color: var(--colors-selected);
      border-bottom-color: var(--colors-selected);
    }
  }
}
