@import './variables.css';
@import './form.css';

.ok-cancel-form {
  min-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    width: 80%;
    margin-bottom: 0.5rem;
    border-radius: var(--radius);
  }

  button {
    width: 30rem;
  }

  .message {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    .line {
      margin: 0 auto;
    }
  }
}
